body {
    background-size: 100vw;
}

#window {
    max-width: 98vw;
    width: 400px;
    background-size: 400px;
    background-color: rgb(95, 158, 160);
    padding: 10px;
    margin-top: 1vh;
    border-radius: 10px;
}

#text {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 700;
}

#youtube-audio {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.3vw;
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 10px;
    display: flex;
}

#youtube-icon {
    right: 0;
    bottom: 0;
    width: 5vw;
}

#composition {
    overflow-wrap: break-word;
    width: 10vw;
}

.btn {
    width: 48%;
    margin-left: 3px;
    margin:right: 3px;
}
