body {
    background-size: 100vw;
}

#window {
    max-width: 98vw;
    width: 400px;
    background-size: 400px;
    background-color: #444444;
    padding: 10px;
    margin-top: 1vh;
    border-radius: 10px;
}

#text {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 700;
}

#audio {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.3vw;
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#composition {
    overflow-wrap: break-word;
    width: 20vw;
    min-width: 200px;
}

#media-control {
    text-align: center;
}

.btn {
    width: 48%;
    margin-left: 3px;
}

.media-button {
    cursor: pointer;
    user-select: none;
}
